.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.resultado-esquerda{
    float: left;
}

.resultado-direita {
    float: right;
}

.conteudo{
    margin-top: 5px;
    background-color:#e8e3e3;
}