.bg-1 {
  background:#42007F;
  color: #ffffff;
}
.bg-2 {
  background-color: #42007F;
  color: #ffffff;
}
.container-fluid-first{
    padding-top: 60px;
    padding-bottom: 160px;
    height: 100%;
}
.container-fluid{
    padding-top: 60px;
    padding-bottom: 160px;
    height: 100%;
}
.container-fluid2 {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
}
.fa {
  margin-left: 4%;
  margin-top: 5%;
}
.icones {
  margin-left: 20%;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}
.imagem {
  width: 30%;
  height: 50%;
  margin: 2%;
  color: white;
}
.navigation {
  margin-left: 15%;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
    /*background-color: #ccc;
    border: 1px solid #ddd;*/
  }

p{
  margin:0px;
}
span{
  margin: 0px;
}

@media only screen and (max-width: 767px){
  .container-fluid-first{
      padding-top: 60px;
      padding-bottom: 60px;
      height: 100%;
  }
  .container-fluid{
      padding-top: 60px;
      padding-bottom: 100px;
      height: 100%;
  }
  .imagem {
    width: 60%;
    height: 50%;
    margin: 2%;
    color: white;
  }
  p{
    margin-bottom: 10px;
  }
}
@media only screen and (min-width : 768px){
  .container-fluid-first{
      padding-top: 60px;
      padding-bottom: 60px;
      height: 100vh;
  }
  .container-fluid{
      padding-top: 30px;
      padding-bottom: 100px;
      height: 100%;
  }
  .imagem {
    width: 30%;
    height: 50%;
    margin: 2%;
    color: white;
  }
}
