.bg-1 {

  background: linear-gradient(#8441FF, #42007F);
  color: #ffffff;
}
.bg-2 {
  background: linear-gradient(#4A107A,#4A107A,#4A107A, #8441FF);
  background-color: #8441FF;
  color: #ffffff;
}
.bg-3 {
  background-color: #42007F;
  color: #ffffff;
}
.bg-4 {
    background-color: #ffffff;
    color: #555555;
}
.container-fluid {
    padding-top: 150px;
    padding-bottom: 120px;
    height: 100%;
}
.container-fluid2 {
  padding-top: 20px;
  padding-bottom: 30px;
}
.fa {
  margin-left: 4%;
  margin-top: 5%;
}
.icones {
  margin-left: 20%;
}
.navbar-nav li a:hover {
  color: #1abc9c !important;
}
.imagem {
  width: 20%;
  height: 20%;
  margin: 2%;
}
.navigation {
  margin-left: 15%;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
    /*background-color: #ccc;
    border: 1px solid #ddd;*/
  }

p{
  margin:0px;
}
span{
  margin: 0px;
}
@media only screen and (max-width: 768px) {
  p{
    margin-bottom: 10px;
  }
}
/***************************************/
